@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

:root {
    font-family: 'Manjari', sans-serif;
    --font-color: #00A4D3;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
}

header {
    background: url("../img/header.jpg") no-repeat center;
    max-width: 100%;
    height: 800px;
    background-size: cover;
}

.nav-list ul {
    display: flex;
    justify-content: flex-end;
}

.nav-list ul li {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 5px;
}

.nav-list ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 5px;
}

.nav-list ul li a:hover {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    transition: all 0.2s;
}

#burger-menu {
    display: none;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 300px;
}

.header-info h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: -30px;
    color: var(--font-color);
}

.header-info h4 {
    font-size: 24px;
    color: var(--font-color);
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 650px) {
    header nav .nav-list ul li a{
        display: none;
    }
     #burger-menu {
        display: block;
        font-size: 25px;
        color: #000;
     }
     .header-info h1{
        font-size: 2.5rem;
     }
}


main {
    width: 1200px;
    padding: 0;
    margin: auto;
}

main button {
    display: block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
}

main button:hover {
    color:#FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

article {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.about-us-header {
    width: 1200px;
    margin-top: 50px;
}

main h2 {
    text-align: center;
}

main .why-choose-us h2 {
    text-align: center;
}

main article .about-us p {
    width: 500px;
}

main article .about-us.left p {
    margin-right: 50px;
}

main article .about-us.right p {
    margin-left: 50px;
}

#about-us-left-image {
    width: 500px;
    height: 400px;
    margin-right: 50px;
}

#about-us-right-image {
    width: 500px;
    height: 400px;
    margin-left: 50px;
}

.why-choose-us {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 1200px;
}

.why-choose-us.header {
    margin-top: 50px;
}

.why-choose-us p {
    width: 400px;
}

main section h2 {
    text-align: center;
    font-size: 36px;
}



main section h1 {
    text-align: center;
    font-size: 44px;
}

main section {
    width: 1200px;
    margin-top: 100px;
}

main section span {
    margin-top: 30px;
    display: block;
}

main section .wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

main section .wrap p {
    width: 400px;
}

main section .wrap.left {
    flex-direction: row-reverse;
}

.section-images {
    width: 600px;
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
}

.contacts-images {
    width: 200px;
    height: 140px;
}

#contacts h2 {
    text-align: center;
}

main section .tours h4 {
    text-align: center;
}

main section .tours {
    margin-top: 50px;
}

#why-choose-us img {
    width: 550px;
}

#contacts {
    width: 1200px;
    margin-top: 25px;
}

.contacts-header {
    margin-top: 75px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #000;
    width: 80px;
}

#contact-us {
    width: 1200px;
    margin-top: 75px;
    margin-bottom: 100px;
}

#contact-us .form-input{
    width: 300px;
    margin: 0 auto;
    display: block;
}

#contact-us h2 {
    text-align: center;
}

#contact-us p {
    text-align: center;
}

.contact-us-button {
    display: block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
    width: 75px;
}

.contact-us-button:hover {
    color:#FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

#contact-us form {
    width: 300px;
    margin: auto;
}

.contact-us-button-label {
    min-width: 75px;
    padding: 0;
}

hr {
    height: 1px;
}

footer {
    background-color: #00A4D3;
    color: #fff;
}

footer h1 {
    text-align: end;
    font-size: 40px;
}